/* <header>
		<h1>Spelling Project</h1>

	<section class="main">
		<aside class="left">
			<div class="section">
				<p>글씨 입력하기</p>
				<form id="myForm" method="get">
					<textarea id="inputText" name="text" rows="5"></textarea>
					<p>
						현재 입력한 글자 수: <span id="currentChar">0</span> / 최대 글자 수: <span
							id="maxChar">300</span>
					</p>
					<button id="showResultBtn" type="submit">결과 보기</button>
			<div class="section">
				<p>맞춤법 검사 결과</p>
				<div id="displayText"></div>
		<aside class="right">
			<div class="section">
				<p>추천단어</p>
				<ul id="nounList" class="nounList">
						<li class="hover" >${noun}</li>

			<!-- 모달 창 -->
			<div id="myModal" class="modal">
				<div class="modal-content">
					<span class="close">&times;</span>
					<ul id="modalWordsList"></ul>


			<div class="section">
				<p>관련어</p>
				<ul id="wordsList"> */

header {
  padding: 15px;
  background-color: #333;
  h1 {
    font-size: 30px;
    color: white;
  }
}

section {
  border: 1px solid inherit;
  aside {
    border: 1px solid inherit;
  }
  div {
    border-radius: 15px;
    border: 1px solid #ccc;
    height: 80%;
  }

  textarea {
    border-radius: 10px;
    border: 1px solid #ccc;
  }
}

button {
  background-color: #333;
  color: white;
  margin: 0 0 0 auto;
  padding: 5px;
  border-radius: 10px;
}
